@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border:  none;
}

html{
	scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}



.header img{
	width: 350px;
	height: auto;
}